APP_PORT=8080
DB_PORT=5433

POSTGRES_DB=leitner
POSTGRES_USER=leitner
POSTGRES_PASSWORD=secret

DB_HOST=db
DB_NAME=leitner
DB_USER=leitner
DB_PASSWORD=secret

YII_DEBUG=true
YII_ENV=dev

JWT_SECRET=change-me-please-32-chars-minimum

XDEBUG_MODE=off
